<%# 画面左側のページ %>
<main>
  <div class="container px-3">
    <div class="row">
      <%= render "shared/tmp",book: @book,user: @user%>
      <%# <画面右側> %>
      <div class="col-md-8 offset-md-1 bg-danger">
        <p>book</p>
      </div>
    </div>
  </div>
</main>