* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.width-40 {
  width: 40%;
}

.width-85 {
  width: 85%;
}

.fs-7 {
  font-size: 12px;
}

.input-op1 {
  width: 189px;
  height: 30px;
}

tr th {
  border-bottom: none;
  border-top: 1px solid #dee2e6;
}

tr td {
  border-bottom: none;
  border-top: 1px solid #dee2e6;
}

.border-none {
  border: none;
}